<h3>新規登録</h3>

<%= form_with(model: @room, local:true) do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <div>
        エラーが<%= form.object.errors.count %> 個あります。
      </div>
      <ul>
        <% form.object.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<%= form_with model: @room do |f| %>
  <table>
    <tr>
      <th><%= f.label :hotel_name ,"施設名" %></th>
      <td><%= f.text_field :hotel_name %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction ,"施設詳細" %></th>
      <td><%= f.text_area :introduction %></td>
    </tr>
    <tr>
      <th><%= f.label :hotel_price ,"料金" %></th>
      <td><%= f.text_field :hotel_price %></td>
    </tr>
    <tr>
      <th><%= f.label :address ,"住所" %></th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th><%= f.label :hotel_image ,"施設画像" %></th>
      <td><%= f.file_field :hotel_image %></td>
    </tr>
  </table>

  <div>
    <ul>
      <li><%= f.submit "保存" %></li>
      <li><%= link_to "キャンセル", :users %></li>
    </ul>
  </div>
<% end %>